body, main, article {
    font-size: 10pt;
}

a, a nobr.detail {
    text-decoration: none;
    color: rgb(172, 36, 36);
    transition: all ease 200ms;
}

a:hover {
    color: rgba(172, 36, 36, 0.7);
    transition: all ease 200ms;
}

nobr {
    font-size: 0.75rem;
}

.detail {
    cursor: help;
}

sup {
    display: none;
}

#content h1 {
    background-color: rgb(172, 36, 36);
    color: aliceblue;
    padding: 1rem 1rem;
    cursor: default;
}

#content h2,
#content h3 {
    font-size: 1.25rem;
    color: rgb(172, 36, 36);
    cursor: default;
}

#content section {
    padding: 1rem;
}

td {
    padding: 0.5rem;
    cursor: default;
}

td:nth-child(1) {
    width: 3.6rem;
}

td:nth-child(2) {
    width: 10rem;
}

td:nth-child(3),
td:nth-child(4) {
    width: 8rem;
}

td:nth-child(5) {
    width: 15rem;
}

tr {
    background-color: rgba(255, 228, 196, 0.75);
    transition: all ease 200ms;
}

tr:hover {
    background-color: rgba(255, 228, 196, 0.5);
    transition: all ease 200ms;
}